{% extends "brainwatch/layout.html" %}

{% block body %}
    <div class="block_body">
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}
        {% endif %}
        
        <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token%}
            <p class="form_title">Sign in</p>
            <input type="text" name="username" placeholder="Username" autocomplete="off">
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <button class="login_register">LOGIN</button>
        </form>
    </div>
{% endblock %}